In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"D:\360Downloads\风行数据中心实战\数据集\处理之后的数据\user1.xlsx",index_col=0)
df.head()

,用户id,用电单元id,用户名称,用电单元名称,时间,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,00:00:00
0,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-01,0.0,0.000,0.000,0.000,0.020,...,0.098,0.118,0.098,0.098,0.118,0.098,0.118,0.078,0.274,NaN
1,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-02,0.0,0.039,0.118,0.098,0.118,...,0.039,0.098,0.118,0.098,0.098,0.098,0.118,0.078,0.235,NaN
2,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-03,0.0,0.039,0.118,0.098,0.098,...,0.118,0.118,0.059,0.118,0.098,0.098,0.118,0.098,0.274,NaN
3,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-04,0.0,0.039,0.098,0.118,0.098,...,0.000,0.000,0.000,0.020,0.000,0.000,0.000,0.000,0.020,NaN
4,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-05,0.0,0.000,0.000,0.000,0.020,...,0.098,0.098,0.118,0.098,0.098,0.098,0.098,0.098,0.255,NaN

第14524行到30018,0点的数据错位到最后一行去了

In [7]:
df[14524:14526]

,用户id,用电单元id,用户名称,用电单元名称,时间,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,00:00:00
14524,215,310000000209626,中阳县信征选煤有限责任公司,中阳县信征选煤有限责任公司310000000209626,2020-08-31,0.0,0.000,0.000,0.000,0.000,...,0.000,0.00,0.00,0.00,0.000,0.00,0.00,0.00,0.000,NaN
14525,189,1660797746,万荣县华凯伟业建材有限公司,万荣县华凯伟业建材有限公司1660797746,2020-11-01,NaN,0.081,0.081,0.081,0.081,...,0.041,0.02,0.02,0.02,0.041,0.02,0.02,0.02,0.041,0.081

In [6]:
df[30017:30020]

,用户id,用电单元id,用户名称,用电单元名称,时间,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,00:00:00
30017,355,9985630,黎城县长福煤气焦化有限公司,黎城县长福煤气焦化有限公司9985630,2020-11-30,NaN,1.038,1.118,1.118,1.118,...,0.878,1.038,0.958,1.038,0.878,0.958,0.958,1.038,0.878,0.958
30018,189,1660797746,万荣县华凯伟业建材有限公司,万荣县华凯伟业建材有限公司1660797746,2020-12-01,0.02,0.000,0.020,0.020,0.000,...,0.000,0.020,0.020,0.000,0.020,0.020,0.000,0.020,0.020,NaN
30019,465,1959387669,万荣县南张太赵克亮砖场,万荣县南张太赵克亮砖场1959387669,2020-12-01,0.00,0.000,0.000,0.000,0.000,...,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.000,0.000,NaN

In [5]:
def reset_table(df_):
    ddf = df_.iloc[14525:30017,:]
    del ddf["0:00:00"]
    ddf.insert(4,"0:00:00",ddf["00:00:00"])
    del ddf["00:00:00"]
#     ddf.rename(columns={"0:00:00":"0:00:00"},inplace=True)
    
    rdf_0 = df_.iloc[:14524,:]
    del rdf_0["00:00:00"]
#     rdf.rename(columns={"00:00:00":"0:00:00"},inplace=True)
     
    rdf_1 = df_.iloc[30018:,:]
    del rdf_1["00:00:00"]
#     rdf.rename(columns={"00":"0:00:00"},inplace=True)
    
    df_1 = pd.concat([rdf_0,ddf,rdf_1],axis=0,ignore_index=True)
    return df_1

In [6]:
name_list = df.columns.values
name_list

array(['用户id', '用电单元id', '用户名称', '用电单元名称', '时间', '0:00:00 ', '  0:15:00 ',
       '  0:30:00 ', '  0:45:00', '  1:00:00 ', '  1:15:00 ',
       '  1:30:00 ', '  1:45:00 ', '  2:00:00 ', '  2:15:00', '  2:30:00',
       '  2:45:00', '  3:00:00 ', '  3:15:00', '  3:30:00 ', '  3:45:00 ',
       '  4:00:00 ', '  4:15:00', '  4:30:00 ', '  4:45:00', '  5:00:00 ',
       '  5:15:00', '  5:30:00', '  5:45:00', '  6:00:00', '  6:15:00',
       '  6:30:00', '  6:45:00 ', '  7:00:00', '  7:15:00 ', '  7:30:00',
       '  7:45:00 ', '  8:00:00 ', '  8:15:00 ', '  8:30:00 ',
       '  8:45:00', '  9:00:00 ', '  9:15:00 ', '  9:30:00', '  9:45:00 ',
       '  10:00:00 ', '  10:15:00', '  10:30:00 ', '  10:45:00 ',
       '  11:00:00 ', '  11:15:00 ', '  11:30:00 ', '  11:45:00 ',
       '  12:00:00 ', '  12:15:00', '  12:30:00 ', '  12:45:00 ',
       '  13:00:00  ', '  13:15:00 ', '  13:30:00  ', '  13:45:00 ',
       '  14:00:00  ', '  14:15:00  ', '  14:30:00  ', '  14:45:00  ',
       '  15:00:00  ', '  15:15:00 ', '  15:30:00', '  15:45:00 ',
       '  16:00:00 ', '  16:15:00 ', '  16:30:00 ', '  16:45:00',
       '  17:00:00 ', '  17:15:00 ', '  17:30:00 ', '  17:45:00 ',
       '  18:00:00 ', '  18:15:00 ', '  18:30:00 ', '  18:45:00',
       '  19:00:00 ', '  19:15:00', '  19:30:00', '  19:45:00 ',
       '  20:00:00 ', '  20:15:00', '  20:30:00', '  20:45:00 ',
       '  21:00:00', '  21:15:00 ', '  21:30:00 ', '  21:45:00',
       '  22:00:00 ', '  22:15:00 ', '  22:30:00 ', '  22:45:00',
       '  23:00:00 ', '  23:15:00 ', '  23:30:00 ', '  23:45:00 ',
       '00:00:00'], dtype=object)

In [7]:
df.columns = [i.strip() for i in name_list]
df.columns

Index(['用户id', '用电单元id', '用户名称', '用电单元名称', '时间', '0:00:00', '0:15:00',
       '0:30:00', '0:45:00', '1:00:00',
       ...
       '21:45:00', '22:00:00', '22:15:00', '22:30:00', '22:45:00', '23:00:00',
       '23:15:00', '23:30:00', '23:45:00', '00:00:00'],
      dtype='object', length=102)

In [8]:
def get_hour_list(hour):
    hour_= []
    for i,j in enumerate(name_list[5:]):
        if i%4==0:
            j = j.strip()
            hour_.append(j)
    return hour_

In [60]:
hour_name = get_hour_list(name_list)
# hour_name[-1] = '24:00:00'
hour_name

['0:00:00',
 '1:00:00',
 '2:00:00',
 '3:00:00',
 '4:00:00',
 '5:00:00',
 '6:00:00',
 '7:00:00',
 '8:00:00',
 '9:00:00',
 '10:00:00',
 '11:00:00',
 '12:00:00',
 '13:00:00',
 '14:00:00',
 '15:00:00',
 '16:00:00',
 '17:00:00',
 '18:00:00',
 '19:00:00',
 '20:00:00',
 '21:00:00',
 '22:00:00',
 '23:00:00',
 '00:00:00']

In [9]:
col_name = [i.strip() for i in df.columns]
# col_name[-1]="24:00:00"
col_name

['用户id',
 '用电单元id',
 '用户名称',
 '用电单元名称',
 '时间',
 '0:00:00',
 '0:15:00',
 '0:30:00',
 '0:45:00',
 '1:00:00',
 '1:15:00',
 '1:30:00',
 '1:45:00',
 '2:00:00',
 '2:15:00',
 '2:30:00',
 '2:45:00',
 '3:00:00',
 '3:15:00',
 '3:30:00',
 '3:45:00',
 '4:00:00',
 '4:15:00',
 '4:30:00',
 '4:45:00',
 '5:00:00',
 '5:15:00',
 '5:30:00',
 '5:45:00',
 '6:00:00',
 '6:15:00',
 '6:30:00',
 '6:45:00',
 '7:00:00',
 '7:15:00',
 '7:30:00',
 '7:45:00',
 '8:00:00',
 '8:15:00',
 '8:30:00',
 '8:45:00',
 '9:00:00',
 '9:15:00',
 '9:30:00',
 '9:45:00',
 '10:00:00',
 '10:15:00',
 '10:30:00',
 '10:45:00',
 '11:00:00',
 '11:15:00',
 '11:30:00',
 '11:45:00',
 '12:00:00',
 '12:15:00',
 '12:30:00',
 '12:45:00',
 '13:00:00',
 '13:15:00',
 '13:30:00',
 '13:45:00',
 '14:00:00',
 '14:15:00',
 '14:30:00',
 '14:45:00',
 '15:00:00',
 '15:15:00',
 '15:30:00',
 '15:45:00',
 '16:00:00',
 '16:15:00',
 '16:30:00',
 '16:45:00',
 '17:00:00',
 '17:15:00',
 '17:30:00',
 '17:45:00',
 '18:00:00',
 '18:15:00',
 '18:30:00',
 '18:45:00',
 '19:00:00',
 '19:15:00',
 '19:30:00',
 '19:45:00',
 '20:00:00',
 '20:15:00',
 '20:30:00',
 '20:45:00',
 '21:00:00',
 '21:15:00',
 '21:30:00',
 '21:45:00',
 '22:00:00',
 '22:15:00',
 '22:30:00',
 '22:45:00',
 '23:00:00',
 '23:15:00',
 '23:30:00',
 '23:45:00',
 '00:00:00']

In [10]:
df.columns = col_name
df.columns

Index(['用户id', '用电单元id', '用户名称', '用电单元名称', '时间', '0:00:00', '0:15:00',
       '0:30:00', '0:45:00', '1:00:00',
       ...
       '21:45:00', '22:00:00', '22:15:00', '22:30:00', '22:45:00', '23:00:00',
       '23:15:00', '23:30:00', '23:45:00', '00:00:00'],
      dtype='object', length=102)

In [11]:
df=reset_table(df)

In [13]:
df.to_csv(r'user_unit_final.csv',mode='w',encoding='utf8')

In [64]:
df.iloc[:,9]

0        0.020
1        0.118
2        0.098
3        0.098
4        0.020
         ...
59251    0.000
59252    0.005
59253    0.114
59254    6.534
59255    2.614
Name: 1:00:00, Length: 59256, dtype: float64

In [67]:
df.iloc[:,100]

0        0.274
1        0.235
2        0.274
3        0.020
4        0.255
         ...
59251    0.000
59252    0.009
59253    0.114
59254    5.881
59255    1.960
Name: 23:45:00, Length: 59256, dtype: float64

In [68]:
def merge_col(df):
    i=9
    for j in range(22):
        df.iloc[:,i] = df.iloc[:,i-1]+df.iloc[:,i-2]+df.iloc[:,i-3]+df.iloc[:,i]
        i = i+4
    df.iloc[:,5] = df.iloc[:,98]+df.iloc[:,99]+df.iloc[:,100]+df.iloc[:,5]
    return df

In [69]:
df=merge_col(df)

In [70]:
df

,用户id,用电单元id,用户名称,用电单元名称,时间,0:00:00,0:15:00,0:30:00,0:45:00,1:00:00,...,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00
0,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-01,0.470,0.000,0.000,0.000,0.020,...,0.098,0.098,0.412,0.098,0.098,0.118,0.098,0.118,0.078,0.274
1,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-02,0.431,0.039,0.118,0.098,0.373,...,0.098,0.039,0.274,0.118,0.098,0.098,0.098,0.118,0.078,0.235
2,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-03,0.490,0.039,0.118,0.098,0.353,...,0.098,0.118,0.432,0.059,0.118,0.098,0.098,0.118,0.098,0.274
3,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-04,0.020,0.039,0.098,0.118,0.353,...,0.000,0.000,0.020,0.000,0.020,0.000,0.000,0.000,0.000,0.020
4,251,2165125418,大同煤矿集团忻州同华煤业有限公司,大同煤矿集团忻州同华煤业有限公司2165125418,2020-08-05,0.451,0.000,0.000,0.000,0.020,...,0.098,0.098,0.392,0.118,0.098,0.098,0.098,0.098,0.098,0.255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59251,68,31319212,高平市全兴发展有限公司,高平市全兴发展有限公司31319212,2020-12-30,0.014,0.014,0.000,0.014,0.028,...,0.000,0.014,0.014,0.014,0.000,0.014,0.000,0.014,0.000,0.000
59252,13,31319457,高平市安顺兴选煤有限公司,高平市安顺兴选煤有限公司31319457,2020-12-30,0.036,0.005,0.009,0.009,0.028,...,0.009,0.014,0.033,0.009,0.014,0.005,0.009,0.009,0.009,0.009
59253,90,31347514,高平市晋昌洗煤有限公司,高平市晋昌洗煤有限公司31347514,2020-12-30,0.465,0.123,0.114,0.133,0.484,...,0.133,0.114,0.474,0.114,0.123,0.114,0.133,0.114,0.123,0.114
59254,92,1767039849,黎城太行钢铁有限公司,黎城太行钢铁有限公司1767039849,2020-12-30,25.483,7.187,6.534,6.534,26.789,...,7.187,7.187,28.095,6.534,6.534,6.534,6.534,5.881,6.534,5.881
59255,92,9885871,黎城太行钢铁有限公司,黎城太行钢铁有限公司9885871,2020-12-30,7.188,3.267,1.960,2.614,10.455,...,2.614,1.960,9.148,2.614,1.960,2.614,1.960,1.307,2.614,1.960

In [72]:
for i in df.columns[5:]:
    if i not in hour_name:
        del df[i]
        
df.columns

Index(['用户id', '用电单元id', '用户名称', '用电单元名称', '时间', '0:00:00', '1:00:00',
       '2:00:00', '3:00:00', '4:00:00', '5:00:00', '6:00:00', '7:00:00',
       '8:00:00', '9:00:00', '10:00:00', '11:00:00', '12:00:00', '13:00:00',
       '14:00:00', '15:00:00', '16:00:00', '17:00:00', '18:00:00', '19:00:00',
       '20:00:00', '21:00:00', '22:00:00', '23:00:00'],
      dtype='object')

In [73]:
df.to_csv(r'hour_user.csv',mode='w',encoding='utf8')

In [1]:
df

NameError: name 'df' is not defined