In [ ]:
import pandas as pd
import os

path = 'C:/Users/86183/Desktop/第八周'   #设置csv所在文件夹
files = os.listdir(path)  #获取文件夹下所有文件名

df1 = pd.read_csv(path + '/' + files[0],encoding='utf8')#取首个csv文件，保存到df1中

for file in files[1:8]:    
    df2= pd.read_csv(path +'/' +  file,encoding='utf8')#开csv文件，注意编码问题，保存到df2中
    df1= pd.concat([df1,df2],axis=0,ignore_index=True)  #将df2数据与df1合并
df1 = df1.drop_duplicates()   #去重
df1 = df1.reset_index(drop=True) #重新生成index
df1.to_csv(path + '/' + 'total1.csv') #将结果保存为新的csv文件

In [79]:
import pandas as pd
df0 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_0.csv')
df1 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_1.csv')
df2 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_2.csv')
df3 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_3.csv')
df4 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_4.csv')
df5 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_5.csv')
df6 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_6.csv')
df7 = pd.read_csv(r'D:\360Downloads\数据处理练习数据\house_7.csv')
df = pd.concat([df0,df1,df2,df3,df4,df5,df6,df7],ignore_index=True)
df.head()

,价格,面积,编号,户型,楼层,位置1,位置2,小区,地铁
0,2380.0,11.0,50952-D,4室1卫,1/10层,丰台区,公益西桥,城南嘉园益嘉园,地铁：距4号线大兴线公益西桥站500米
1,2710.0,9.0,20870-A,2室1卫,21/28层,丰台区,西铁营,亚林西居住区,地铁：距14号线东段西铁营站450米
2,2300.0,13.0,20039-A,4室1卫,19/24层,丰台区,樊羊路,花香东苑,地铁：距房山线樊羊路站450米
3,2980.0,5.0,66407-A,2室1卫,12/24层,海淀区,车道沟,半壁街南路1号院,地铁：距10号线车道沟站650米
4,2860.0,16.0,78687-A,4室1卫,3/6层,东城区,陶然桥,西罗园北路15号,地铁：距14号线东段陶然桥站600米

In [80]:
df.shape

(7697, 9)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7697 entries, 0 to 7696
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   价格      6602 non-null   object
 1   面积      6602 non-null   object
 2   编号      6602 non-null   object
 3   户型      6602 non-null   object
 4   楼层      6602 non-null   object
 5   位置1     6602 non-null   object
 6   位置2     6602 non-null   object
 7   小区      6602 non-null   object
 8   地铁      6602 non-null   object
dtypes: object(9)
memory usage: 541.3+ KB

In [92]:
df.isnull().sum()

价格     1095
面积     1095
编号     1095
户型     1095
楼层     1095
位置1    1095
位置2    1095
小区     1095
地铁     1095
dtype: int64

In [50]:
df[df.价格.isnull()]

      价格   面积   编号   户型   楼层  位置1  位置2   小区   地铁
56   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
94   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
133  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
159  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
190  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
713  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
714  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
715  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
716  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
717  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1095 rows x 9 columns]

In [12]:
drop_index = df[df.价格.isnull()].index
df.drop(index=drop_index,inplace=True)

In [76]:
df.价格.isnull().sum()

0

In [13]:
df.isnull().columns

Index(['价格', '面积', '编号', '户型', '楼层', '位置1', '位置2', '小区', '地铁'], dtype='object')

In [26]:
df['编号'].isnull().sum()

0

In [93]:
drop_col = ['价格','面积', '编号', '户型', '楼层', '位置1', '位置2', '小区', '地铁'] 
for i in drop_col:
    drop_index = df[df[i].isnull()].index
    df.drop(index=drop_index,inplace=True)
df.isnull().sum()

价格     0
面积     0
编号     0
户型     0
楼层     0
位置1    0
位置2    0
小区     0
地铁     0
dtype: int64

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6602 entries, 0 to 7689
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   价格      6602 non-null   object
 1   面积      6602 non-null   object
 2   编号      6602 non-null   object
 3   户型      6602 non-null   object
 4   楼层      6602 non-null   object
 5   位置1     6602 non-null   object
 6   位置2     6602 non-null   object
 7   小区      6602 non-null   object
 8   地铁      6602 non-null   object
dtypes: object(9)
memory usage: 773.8+ KB

In [107]:
df.iloc[2208]

价格      价格
面积      面积
编号      编号
户型      户型
楼层      楼层
位置1    位置1
位置2    位置2
小区      小区
地铁      地铁
Name: 2281, dtype: object

In [108]:
df.drop(index= 2208,inplace=True)

In [96]:
df.describe()

            价格      面积    编号    户型    楼层   位置1   位置2     小区                 地铁
count   6602.0  6602.0  6602  6602  6602  6602  6602   6602               6602
unique   884.0   167.0  5542    22   499    13   290   1840               1547
top     2400.0    10.0    编号  3室1卫  4/6层   朝阳区  通州北关  新建村小区  地铁：距6号线物资学院路站550米
freq      41.0   551.0     7  3027   497  2045   223     59                 78

In [55]:
df.columns

Index(['价格', '面积', '编号', '户型', '楼层', '位置1', '位置2', '小区', '地铁'], dtype='object')

In [109]:
df.价格 = pd.to_numeric(df.价格)

ValueError: Unable to parse string "价格" at position 2207

In [90]:
df.价格.values

array([2380.0, 2710.0, 2300.0, ..., nan, nan, nan], dtype=object)

In [97]:
sta = (df.价格-df.价格.mean())/df.价格.std()
sta

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [34]:
drop_index = df[sta.abs()>3].index

In [35]:
df.drop(index=drop_index,inplace=True)

In [37]:
df.duplicated().sum()

0

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6599 entries, 0 to 7689
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   价格      6599 non-null   object
 1   面积      6599 non-null   object
 2   编号      6599 non-null   object
 3   户型      6599 non-null   object
 4   楼层      6599 non-null   object
 5   位置1     6599 non-null   object
 6   位置2     6599 non-null   object
 7   小区      6599 non-null   object
 8   地铁      6599 non-null   object
 9   地铁线路    6560 non-null   object
 10  地铁距离    6580 non-null   object
dtypes: object(11)
memory usage: 618.7+ KB

In [166]:
df.index = range(6599)

In [123]:
df.head(5).T

,0,1,2,3,4
价格,2380.0,2710.0,2300.0,2980.0,2860.0
面积,11.0,9.0,13.0,5.0,16.0
编号,50952-D,20870-A,20039-A,66407-A,78687-A
户型,4室1卫,2室1卫,4室1卫,2室1卫,4室1卫
楼层,1/10层,21/28层,19/24层,12/24层,3/6层
位置1,丰台区,丰台区,丰台区,海淀区,东城区
位置2,公益西桥,西铁营,樊羊路,车道沟,陶然桥
小区,城南嘉园益嘉园,亚林西居住区,花香东苑,半壁街南路1号院,西罗园北路15号
地铁,地铁：距4号线大兴线公益西桥站500米,地铁：距14号线东段西铁营站450米,地铁：距房山线樊羊路站450米,地铁：距10号线车道沟站650米,地铁：距14号线东段陶然桥站600米
地铁线路,4号线,14号线,NaN,10号线,14号线
地铁距离,500米,450米,450米,650米,600米

In [160]:
df['地铁线路']=df.地铁.str.extract('(\d{1,2}号线|[\u4e00-\u9fa5]{2}线)',expand=True)

In [118]:
df['地铁距离']=df.地铁.str.extract('(\d+米)',expand=True)

In [214]:
df.iloc[2198]
df.drop(index=2198)
df.iloc[2198]

价格       价格
面积       面积
编号       编号
户型       户型
楼层       楼层
位置1     位置1
位置2     位置2
小区       小区
地铁
地铁线路    NaN
地铁距离    NaN
Name: 2207, dtype: object

In [205]:
df[df['地铁线路'].isnull()].index

Int64Index([ 115,  207, 1776, 2092, 2174, 2207, 2304, 2389, 2803, 2875, 3203,
            3486, 3528, 3903, 3983, 3986, 3987, 4393, 4837, 4838, 4841, 5871,
            5985, 6045, 6085, 6141, 6225, 6503],
           dtype='int64')

In [192]:
df.地铁线路.isnull().sum()

28

In [181]:
subway = [i for i,j in enumerate(df.地铁.values) if j =='地铁：']
subway

[]

In [180]:

df.drop(index=subway,inplace=True)

In [199]:
sub_info =  [i[3:] for i in df.地铁.values]
df.地铁=sub_info

In [203]:
price = [i for i,j in enumerate(df.地铁.values) if j =='价格']
price

[]

In [200]:
df

,价格,面积,编号,户型,楼层,位置1,位置2,小区,地铁,地铁线路,地铁距离
0,2380.0,11.0,50952-D,4室1卫,1/10层,丰台区,公益西桥,城南嘉园益嘉园,距4号线大兴线公益西桥站500米,4号线,500米
1,2710.0,9.0,20870-A,2室1卫,21/28层,丰台区,西铁营,亚林西居住区,距14号线东段西铁营站450米,14号线,450米
2,2300.0,13.0,20039-A,4室1卫,19/24层,丰台区,樊羊路,花香东苑,距房山线樊羊路站450米,房山线,450米
3,2980.0,5.0,66407-A,2室1卫,12/24层,海淀区,车道沟,半壁街南路1号院,距10号线车道沟站650米,10号线,650米
4,2860.0,16.0,78687-A,4室1卫,3/6层,东城区,陶然桥,西罗园北路15号,距14号线东段陶然桥站600米,14号线,600米
...,...,...,...,...,...,...,...,...,...,...,...
6594,2580,14,14820-A,4室2卫,21/28层,丰台区,科怡路,宝隆温泉公寓,距9号线科怡路站250米,9号线,250米
6595,1910,9,14938-C,4室1卫,4/8层,朝阳区,双桥,东柳西里,距八通线双桥站900米,八通线,900米
6596,3480,17,15596-A,3室1卫,3/6层,朝阳区,金台路,红庙北里,"距6号线,14号线东段金台路站450米",6号线,450米
6597,2440,9,17527-E,5室1卫,8/22层,丰台区,角门东,金胜嘉谊家园,距10号线角门东站700米,10号线,700米
6598,2470,13,2089-C,3室1卫,10/17层,丰台区,新宫,德鑫嘉园三期,"距4号线大兴线,19号线新宫站850米",4号线,850米

In [201]:
df.to_csv(r'D:\360Downloads\数据处理练习数据\合集.csv',encoding='utf-8')