In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv(r'D:\360Downloads\qunar_freetrip.csv',index_col=0)

In [29]:
df.head(2)

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
0,哈尔滨,北海,2208.0,650.0,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,标准双人间(双床) 双床 不含早 1间2晚,春秋航空 9C8741,直飞,17:10-21:50,春秋航空 9C8742,直飞,10:20-15:05
1,成都,泸沽湖,1145.0,376.0,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,7天酒店丽江古城中心店 经济型 4.0分/5分,经济房-不含早-限时特... 其他 不含早 1间2晚,成都航空 EU2237,直飞,19:45-21:20,成都航空 EU2738,直飞,23:30-01:05

In [4]:
df.shape

(5100, 13)

In [11]:
df.info()
#出发地、目的地、价格、节省都有缺失值

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5100 entries, 0 to 5099
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   出发地     5098 non-null   object
 1    目的地    5099 non-null   object
 2   价格      5072 non-null   float64
 3   节省      5083 non-null   float64
 4   路线名     5100 non-null   object
 5   酒店      5100 non-null   object
 6   房间      5100 non-null   object
 7   去程航司    5100 non-null   object
 8   去程方式    5100 non-null   object
 9   去程时间    5100 non-null   object
 10  回程航司    5100 non-null   object
 11  回程方式    5100 non-null   object
 12  回程时间    5100 non-null   object
dtypes: float64(2), object(11)
memory usage: 557.8+ KB

In [12]:
df.describe()
#数据的差距很大，各分数位

                 价格            节省
count    5072.000000  5083.000000
mean     1765.714905   474.139878
std      2580.129644   168.893780
min       578.000000   306.000000
25%      1253.000000   358.000000
50%      1632.000000   436.000000
75%      2028.250000   530.000000
max    179500.000000  3500.000000

### 去空格

In [13]:
df.columns
#列表里面有空格

Index(['出发地 ', ' 目的地', '价格 ', '节省', '路线名', '酒店', '房间', '去程航司', '去程方式', '去程时间',
       '回程航司', '回程方式 ', '回程时间'],
      dtype='object')

In [17]:
col = df.columns.values
col

array(['出发地 ', ' 目的地', '价格 ', '节省', '路线名', '酒店', '房间', '去程航司', '去程方式',
       '去程时间', '回程航司', '回程方式 ', '回程时间'], dtype=object)

In [19]:
col = [i.strip() for i in col]
df.columns = col
df.columns

Index(['出发地', '目的地', '价格', '节省', '路线名', '酒店', '房间', '去程航司', '去程方式', '去程时间',
       '回程航司', '回程方式', '回程时间'],
      dtype='object')

### 检查重复值

In [24]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5095     True
5096    False
5097    False
5098    False
5099    False
Length: 5100, dtype: bool

In [25]:
#查看哪些是重复的
df[df.duplicated()]

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
454,广州,黄山,1871.0,492.0,广州-黄山3天2晚 | 入住黄山汤口醉享主题酒店 + 南方航空往返机票,黄山汤口醉享主题酒店 舒适型 4.8分/5分,睫毛弯弯(大床) 大床 不含早 1间2晚,南方航空 CZ3627,直飞,19:20-21:15,南方航空 CZ3628,直飞,22:05-23:50
649,济南,长沙,1134.0,360.0,济南-长沙3天2晚 | 入住长沙喜迎宾华天大酒店 + 山东航空往返机票,长沙喜迎宾华天大酒店 高档型 3.7分/5分,特惠双间(特惠抢购)(... 双床 不含早 1间2晚,山东航空 SC1185,直飞,18:40-20:50,山东航空 SC1186,直飞,10:20-12:15
685,青岛,重庆,1474.0,420.0,青岛-重庆3天2晚 | 入住怡家丽景酒店重庆垫江店 + 山东航空/华夏航空往返机票,怡家丽景酒店重庆垫江店 舒适型 4.3分/5分,法式房(内宾)(无窗)... 大床 不含早 1间2晚,山东航空 SC4709,经停,19:30-00:05,华夏航空 G54710,经停,18:00-22:25
852,北京,哈尔滨,1450.0,368.0,北京-哈尔滨3天2晚 | 入住哈尔滨水逸城市酒店 + 南方航空/大新华航空往返机票,哈尔滨水逸城市酒店 舒适型 4.6分/5分,标准间-【预付特惠】独... 双床 双早 1间2晚,南方航空 CZ6202,直飞,22:20-00:20,大新华航空 CN7150,直飞,22:50-00:55
922,北京,长沙,1289.0,334.0,北京-长沙3天2晚 | 入住浏阳市华尔宫大酒店 + 海南航空/南方航空往返机票,浏阳市华尔宫大酒店 3.8分/5分,豪华双人间(双床) 双床 不含早 1间2晚,海南航空 HU7135,直飞,17:45-20:30,南方航空 CZ3855,直飞,22:55-01:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,杭州,丽江,2872.0,718.0,杭州-丽江3天2晚 | 入住丽江松竹居客栈玉观音店 + 长龙航空/首都航空往返机票,丽江松竹居客栈玉观音店 高档型 4.6分/5分,特惠房(大床) 大床 不含早 1间2晚,长龙航空 GJ8869,经停,08:50-13:35,首都航空 JD5192,直飞,13:00-16:15
5066,哈尔滨,西安,1843.0,450.0,哈尔滨-西安3天2晚 | 入住西安铁通商务酒店贵宾楼 + 天津航空/东方航空往返...,西安铁通商务酒店贵宾楼 舒适型 4.2分/5分,标准间(持房卡尊享清凉... 双床 不含早 1间2晚,天津航空 GS7584,经停,12:30-17:40,东方航空 MU2211,经停,08:45-13:25
5068,南京,成都,1922.0,552.0,南京-成都3天2晚 | 入住成都伊丽特酒店 + 东方航空/西藏航空往返机票,成都伊丽特酒店 高档型 4.5分/5分,行政标准间-含早立即确... 双床 双早 1间2晚,东方航空 MU2880,直飞,21:55-00:35,西藏航空 TV9839,直飞,06:30-08:55
5081,上海,青岛,769.0,354.0,上海-青岛3天2晚 | 入住青岛金中太大酒店 + 春秋航空/吉祥航空往返机票,青岛金中太大酒店 舒适型 4.8分/5分,特惠大床房[无早] 大床 不含早 1间2晚,春秋航空 9C8853,直飞,19:50-21:35,吉祥航空 HO1242,直飞,23:05-00:35
5095,宁波,九寨沟,2085.0,562.0,宁波-九寨沟3天2晚 | 入住黑水县达古冰山国际大酒店 + 成都航空/四川航空往...,黑水县达古冰山国际大酒店 豪华型 3.9分/5分,B区豪华标间(双床) 双床 不含早 1间2晚,成都航空 EU2730,经停,19:45-00:45,四川航空 3U8927,经停,07:55-12:15

In [26]:
#True = 1 ,查看多少个事重复的
df.duplicated().sum()

100

在jupyter里面操作数据集，如果直接返回数据，说明没有对原数据集进行操作

In [27]:
#删除重复值
df.drop_duplicates(inplace=True)
df.shape

(5000, 13)

In [34]:
df.head(2).T

,0,1
出发地,哈尔滨,成都
目的地,北海,泸沽湖
价格,2208.0,1145.0
节省,650.0,376.0
路线名,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
酒店,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,7天酒店丽江古城中心店 经济型 4.0分/5分
房间,标准双人间(双床) 双床 不含早 1间2晚,经济房-不含早-限时特... 其他 不含早 1间2晚
去程航司,春秋航空 9C8741,成都航空 EU2237
去程方式,直飞,直飞
去程时间,17:10-21:50,19:45-21:20
回程航司,春秋航空 9C8742,成都航空 EU2738
回程方式,直飞,直飞
回程时间,10:20-15:05,23:30-01:05

In [32]:
df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            5089, 5090, 5091, 5092, 5093, 5094, 5096, 5097, 5098, 5099],
           dtype='int64', length=5000)

In [33]:
#动了原数据集就要索引重置
df.index = range(5000)
df.index

RangeIndex(start=0, stop=5000, step=1)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   出发地     4998 non-null   object
 1   目的地     4999 non-null   object
 2   价格      4972 non-null   float64
 3   节省      4983 non-null   float64
 4   路线名     5000 non-null   object
 5   酒店      5000 non-null   object
 6   房间      5000 non-null   object
 7   去程航司    5000 non-null   object
 8   去程方式    5000 non-null   object
 9   去程时间    5000 non-null   object
 10  回程航司    5000 non-null   object
 11  回程方式    5000 non-null   object
 12  回程时间    5000 non-null   object
dtypes: float64(2), object(11)
memory usage: 507.9+ KB

In [37]:
df.describe().T

     count         mean          std    min     25%     50%     75%       max
价格  4972.0  1767.782381  2604.329780  578.0  1253.0  1633.0  2031.0  179500.0
节省  4983.0   474.490869   169.148391  306.0   358.0   436.0   532.0    3500.0

In [38]:
#找异常值，sta是转换成正态分布后的数值，大于3倍标准差是异常数据
sta = (df['价格']-df['价格'].mean())/df['价格'].std()
abs(sta)

0       0.169033
1       0.239133
2       0.358717
3       0.071503
4       0.061353
          ...
4995    0.113189
4996    0.234142
4997    0.058281
4998    0.024875
4999    0.221087
Name: 价格, Length: 5000, dtype: float64

In [46]:
df[sta.abs()>3].index
#找出价格异常值

Int64Index([2763], dtype='int64')

In [ ]:
df.drop()

In [40]:
5000-((df.价格>df.节省).sum())

48

In [45]:
df[df.节省>df.价格].index

Int64Index([2904, 3108, 3660], dtype='int64')

In [52]:
pd.concat([df[df.节省>df.价格],df[sta.abs()>3]])

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
2904,武汉,西安,949.0,3500.0,武汉-西安3天2晚 | 入住西安西稍门大酒店 + 东方航空往返机票,西安西稍门大酒店 舒适型 3.3分/5分,标准间B(丝路之旅)(... 双床 不含早 1间2晚,东方航空 MU2194,直飞,21:50-23:30,东方航空 MU2462,直飞,19:35-21:20
3108,济南,大连,911.0,3180.0,济南-大连3天2晚 | 入住普兰店科洋大酒店 + 山东航空/厦门航空往返机票,普兰店科洋大酒店 舒适型 4.4分/5分,大床房(限量促销) 大床 不含早 1间2晚,山东航空 SC4916,直飞,19:45-20:50,厦门航空 MF8042,直飞,13:10-14:20
3660,沈阳,青岛,924.0,3200.0,沈阳-青岛3天2晚 | 入住星程酒店青岛台东步行街店 + 青岛航/南方航空往返机票,星程酒店青岛台东步行街店 舒适型 4.2分/5分,大床房(内宾)(提前1... 大床 不含早 1间2晚,青岛航 QW9780,直飞,22:35-00:10,南方航空 CZ6568,直飞,20:55-22:35
2763,杭州,九寨沟,179500.0,538.0,杭州-九寨沟3天2晚 | 入住九寨沟九乡宾馆 + 成都航空/长龙航空往返机票,九寨沟九乡宾馆 舒适型 4.3分/5分,特惠房(双床) 双床 不含早 1间2晚,成都航空 EU2206,经停,20:30-01:00,长龙航空 GJ8680,经停,20:25-00:50

In [53]:
drop_index = pd.concat([df[df.节省>df.价格],df[sta.abs()>3]]).index

In [54]:
df.drop(index=drop_index,inplace=True)
df.shape

(4996, 13)

### 处理缺失值
* df.isnull()
* df.notnull()
* df.dropna()
* df.fillna()

In [55]:
#统计缺失值
df.isnull().sum()

出发地      2
目的地      1
价格      28
节省      17
路线名      0
酒店       0
房间       0
去程航司     0
去程方式     0
去程时间     0
回程航司     0
回程方式     0
回程时间     0
dtype: int64

In [57]:
df[df.出发地.isnull()].T

,1850,1915
出发地,NaN,NaN
目的地,烟台,西安
价格,647.0,1030.0
节省,348.0,326.0
路线名,大连-烟台3天2晚 | 入住烟台海阳黄金海岸大酒店 + 幸福航空/天津航空往返机票,济南-西安3天2晚 | 入住西安丝路秦国际青年旅舍钟楼回民街店 + 华夏航空往返...
酒店,烟台海阳黄金海岸大酒店 3.7分/5分,西安丝路秦国际青年旅舍钟楼回民街店 经济型 4.4分/5分
房间,海景标准间(内宾)[双... 双床 双早 1间2晚,标准间（独卫）-吃货天... 双床 不含早 1间2晚
去程航司,幸福航空 JR1582,华夏航空 G54963
去程方式,直飞,直飞
去程时间,10:05-11:05,07:10-08:55
回程航司,天津航空 GS6402,华夏航空 G58858
回程方式,直飞,直飞
回程时间,16:30-17:25,23:10-00:55

In [61]:
df.出发地.isnull().sum()

2

In [63]:
df.loc[df.出发地.isnull(),'路线名']

1850      大连-烟台3天2晚 | 入住烟台海阳黄金海岸大酒店 + 幸福航空/天津航空往返机票
1915    济南-西安3天2晚 | 入住西安丝路秦国际青年旅舍钟楼回民街店 + 华夏航空往返...
Name: 路线名, dtype: object

In [64]:
#出发地为空，但是通过路线名知道出发地

#df.出发地.isnull() 其实就是行索引，'出发地是列索引'
df.loc[df.出发地.isnull(),'出发地'] = [str(x)[:2] for x in df.loc[df.出发地.isnull(),'路线名']]

In [65]:
df.loc[df.出发地.isnull()]

Empty DataFrame
Columns: [出发地, 目的地, 价格, 节省, 路线名, 酒店, 房间, 去程航司, 去程方式, 去程时间, 回程航司, 回程方式, 回程时间]
Index: []

In [68]:
df[df.目的地.isnull()]

,出发地,目的地,价格,节省,路线名,酒店,房间,去程航司,去程方式,去程时间,回程航司,回程方式,回程时间
1860,深圳,NaN,2149.0,494.0,深圳-大连3天2晚 | 入住大连黄金山大酒店 + 南方航空/东海往返机票,大连黄金山大酒店 舒适型 3.4分/5分,标准间 大/双床 不含早 1间2晚,南方航空 CZ6833,直飞,09:10-12:40,东海 DZ6242,经停,12:40-18:00

In [77]:
str(df.loc[df.目的地.isnull(),'路线名'].values)[5:7]

'大连'

In [79]:
df.loc[df.目的地.isnull(),'目的地'] = str(df.loc[df.目的地.isnull(),'路线名'].values)[5:7]
df[df.目的地.isnull()]

Empty DataFrame
Columns: [出发地, 目的地, 价格, 节省, 路线名, 酒店, 房间, 去程航司, 去程方式, 去程时间, 回程航司, 回程方式, 回程时间]
Index: []

In [80]:
df['价格'].isnull().sum()

28

In [81]:
df['节省'].isnull().sum()

17

In [82]:
#均值填充
df['价格'].fillna(round(df['价格'].mean(),0),inplace=True)
df['节省'].fillna(round(df['节省'].mean(),0),inplace=True)

In [83]:
df.isnull().sum()

出发地     0
目的地     0
价格      0
节省      0
路线名     0
酒店      0
房间      0
去程航司    0
去程方式    0
去程时间    0
回程航司    0
回程方式    0
回程时间    0
dtype: int64

处理文本型数据

In [84]:
df.head(2).T

,0,1
出发地,哈尔滨,成都
目的地,北海,泸沽湖
价格,2208.0,1145.0
节省,650.0,376.0
路线名,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票
酒店,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,7天酒店丽江古城中心店 经济型 4.0分/5分
房间,标准双人间(双床) 双床 不含早 1间2晚,经济房-不含早-限时特... 其他 不含早 1间2晚
去程航司,春秋航空 9C8741,成都航空 EU2237
去程方式,直飞,直飞
去程时间,17:10-21:50,19:45-21:20
回程航司,春秋航空 9C8742,成都航空 EU2738
回程方式,直飞,直飞
回程时间,10:20-15:05,23:30-01:05

In [92]:
df['酒店评分'] = df.酒店.str.extract('(\d.\d)分/5分',expand=False)
df['酒店评分']

0       4.7
1       4.0
2       4.5
3       4.6
4       4.1
       ...
4995    4.3
4996    4.6
4997    4.5
4998    4.0
4999    4.0
Name: 酒店评分, Length: 4996, dtype: object

In [91]:
df['酒店类型'] =df.酒店.str.extract(' (.+?) ',expand=False)

In [99]:
df[df['酒店类型'].isnull()].index

Int64Index([  13,   21,   25,   29,   36,   38,   40,   41,   46,   51,
            ...
            4924, 4942, 4945, 4946, 4956, 4957, 4961, 4976, 4982, 4993],
           dtype='int64', length=969)

In [94]:
df.head().T

,0,1,2,3,4
出发地,哈尔滨,成都,广州,上海,广州
目的地,北海,泸沽湖,沈阳,九寨沟,天津
价格,2208.0,1145.0,2702.0,1954.0,1608.0
节省,650.0,376.0,618.0,484.0,422.0
路线名,哈尔滨-北海3天2晚 | 入住北海祥丰嘉年华大酒店 + 春秋航空往返机票,成都-泸沽湖3天2晚 | 入住7天酒店丽江古城中心店 + 成都航空往返机票,广州-沈阳3天2晚 | 入住沈阳中煤宾馆 + 南方航空/深圳航空往返机票,上海-九寨沟3天2晚 | 入住红原芸谊大酒店 + 成都航空往返机票,广州-天津3天2晚 | 入住天津逸海明珠大酒店 + 奥凯航空/海南航空往返机票
酒店,北海祥丰嘉年华大酒店 舒适型 4.7分/5分,7天酒店丽江古城中心店 经济型 4.0分/5分,沈阳中煤宾馆 舒适型 4.5分/5分,红原芸谊大酒店 舒适型 4.6分/5分,天津逸海明珠大酒店 高档型 4.1分/5分
房间,标准双人间(双床) 双床 不含早 1间2晚,经济房-不含早-限时特... 其他 不含早 1间2晚,大床间(内宾) 大床 双早 1间2晚,豪华双床房[双早] 双床 双早 1间2晚,豪华双床房(预付) 双床 不含早 1间2晚
去程航司,春秋航空 9C8741,成都航空 EU2237,南方航空 CZ6384,成都航空 EU6678,奥凯航空 BK2787
去程方式,直飞,直飞,直飞,直飞,直飞
去程时间,17:10-21:50,19:45-21:20,08:05-11:45,21:55-01:15,06:55-10:00
回程航司,春秋航空 9C8742,成都航空 EU2738,深圳航空 ZH9652,成都航空 EU6677,海南航空 HU7201
回程方式,直飞,直飞,经停,直飞,直飞
回程时间,10:20-15:05,23:30-01:05,08:20-13:05,17:45-20:35,20:15-23:25
酒店评分,4.7,4.0,4.5,4.6,4.1
酒店类型,舒适型,经济型,舒适型,舒适型,高档型